Options -Indexes

RewriteEngine on

#don't require .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#admin panel
RewriteRule ^admin/users/delete/id/([0-9]+)$ admin/index.php?delete-id=$1&page=users&mr=true
RewriteRule ^admin/extend/delete/([A-Za-z0-9\-\_]+)$ admin/index.php?extend-delete=$1&page=extend&mr=true
RewriteRule ^admin/content/edit/id/([A-Za-z0-9\-\_]+)$ admin/index.php?content-id=$1&page=content&mr=true
RewriteRule ^admin/([a-zA-z]+)$ admin/index.php?page=$1&mr=true
RewriteRule ^admin/$ admin/index.php?page=home&mr=true

#home page
RewriteRule ^([A-Za-z0-9\-\_]+)/$ index.php?page=$1&mr=true