      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }
	  
	  .logged-in {
		color: white;
	}
	
	.error {
		color: #B94A48;
	}
	.success {
		color: #468847;
	}
	
	table {
		width: 98%;
	}
	
	h2 {
		margin-bottom: 10px;
	}
	
	.btn.pull-right {
		position: relative;
		top: -50px;
		right: 2%;
	}
	
	.brand.active {
		background-color: rgba(0, 0, 0, 0.5);
		color: #FFFFFF;
		text-decoration: none;
	}
	label {
		float: none;
	}
	.nav li.divider  {
		height: 40px;
		width: 1px;
		margin: 0 5px;
		overflow: hidden;
		background-color: #222;
		border-right: 1px solid #444;
  }  
  .topbar div > ul .menu-dropdown li a, .nav .menu-dropdown li a, .topbar div > ul .dropdown-menu li a, .nav .dropdown-menu li a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  
	.default-font {
	font-family: default;
	}
	
	.alert-message.block-message.error {
		width: 92%;
	}
  